---
import Layout from "../../../layouts/MainLayout.astro";
---

<Layout>
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-4xl font-bold mb-4">Apps</h1>
    <p>This is the apps page.</p>
  </div>
</Layout>

