
---
import { format } from 'date-fns';

export type Props = {
	post: {
		id: string;
		data: {
			title: string;
			description: string;
			publishDate: Date;
		};
	};
};

const { post } = Astro.props;
---

<article class="blog-post-preview">
	<a href={`/blog/${post.id}/`} data-astro-prefetch>
		<header>
			<h3 class="blog-post-title">{post.data.title}</h3>
			<time class="blog-post-date" datetime={post.data.publishDate.toISOString()}>
				{format(post.data.publishDate, 'MMMM d, yyyy')}
			</time>
		</header>
		<p class="blog-post-description">{post.data.description}</p>
	</a>
</article>

