---
import Layout from "../layouts/MainLayout.astro";
import Resources from "./_components/landing-page/Resources.astro";
import Hero from "./_components/landing-page/Hero.astro";
import Platform from "./_components/landing-page/Platform.astro";
import CustomerStoriesFeature from "./_components/landing-page/CustomerStoriesFeature.astro";
import PlatformCapabilities from "./_components/landing-page/PlatformCapabilities.astro";
import CTA from "@components/CTA.astro";
---

<Layout rawTitle="Budibase | Agents, Workflows & Internal Tools Made Easy">
  <div class="homepage-grid">
    <div class="site-grid-section site-grid-section--hero">
      <Hero />
    </div>
    <div class="site-grid-section">
      <Platform />
    </div>
    <div class="site-grid-section">
      <PlatformCapabilities />
    </div>
    <div class="site-grid-section">
      <CustomerStoriesFeature />
    </div>
    <div class="site-grid-section">
      <Resources />
    </div>
    <div class="site-grid-section">
      <CTA />
    </div>
  </div>
</Layout>
