

---

---
<section id="hero-content" class="flex flex-col gap-2 z-10 max-w-xl container mx-auto">
    <h1 class="mt-8">Generate modern business apps with AI <i>in seconds</i></h1>
    <p>
        We're building the #1 AI Agent for IT and MSP teams. Our agent helps you deliver faster resolutions, reduce response times, and complete low-level, repetitive tasks so your tean can focus on important work.
    </p>
    <div>
        <div class="gap-1 inline-flex items-center justify-center px-3 py-2 text-l font-medium leading-none text-stone-900 bg-green-100 rounded-full">
            <span class="w-3.5 h-3.5 rounded-full bg-green-600"></span>
            <span>Open source - 25,000 Github Stars</span>
        </div>
    </div>
</section>
