<section
  id="hero-content"
  class="flex flex-col gap-2 max-w-xl container mx-auto"
>
  <div class="mt-8 max-w-xl container mx-auto text-center">
    <div class="mb-4">
      <h1 class="text-4xl mt-4 mb-2 text-center">Pricing</h1>
    </div>
    <p class="text-slate-light">Fair, predictable pricing.</p>
  </div>
</section>
