---
import HardDrives from "phosphor-astro/HardDrives.astro";
import Cloud from "phosphor-astro/Cloud.astro";
import CloudPlans from "./Cloud.astro";
import SelfHost from "./SelfHost.astro";
---

<section class="container max-w-6xl mx-auto flex flex-col items-center p-8">
  <!--Title section -->

  <h1 class="text-4xl xl:text-6xl max-w-2xl text-center mb-12">Pricing</h1>

  <div class="flex flex-col gap-2 p-4">
    <ul class="inline-flex flex-row gap-3 bg-ivory-medium rounded-[13px] p-1">
      <li>
        <button
          class="bg-white rounded-[12px] py-2 px-2 flex flex-row gap-2 text-sm"
        >
          <Cloud class="w-5" />
          Cloud (We host)
        </button>
      </li>
      <li>
        <button
          class="bg-transparent rounded-[12px] py-2 px-2 flex flex-row gap-2 text-sm"
        >
          <HardDrives class="w-5" />
          Self-host (You host)
        </button>
      </li>
    </ul>
  </div>

  <CloudPlans />
  <SelfHost />
</section>
