---
import StarFour from 'phosphor-astro/StarFour.astro';
import Sparkle from 'phosphor-astro/Sparkle.astro';
import PlusCircle from 'phosphor-astro/PlusCircleFill.astro';
import { Image } from 'astro:assets';
import Arm from "../../../assets/logos/arm.svg";
import Amex from "../../../assets/logos/amex.png";
---

<section class="mt-8 container mx-auto max-w-5xl">
    <div class="grid grid-cols-3 gap-4 ">
        <div id="pricing-card">
            <div class="p-1 border border-stone-200 bg-white rounded-4xl">
                <div class="bg-white border-stone-300 rounded-4xl border !border-dashed px-8 py-4">
                    <div class="flex-col items-center gap-2 mb-2">
                        <div class="flex items-center gap-2">
                            <div class="bg-orange-600 w-8 h-8 rounded-xl p-1">
                                <StarFour class="fill-white" />
                            </div>
                            <div>
                                <h2 class="!text-2xl m-0">Pro</h2>
                            </div>
                        </div>
                        <div>
                            <p class="mt-12 font-semibold !text-4xl">$20</p>
                            <p class="font-medium !text-stone-600 text-sm">Per month with annual subscription discount; $240 billed up front. $30 if billed monthly.</p>
                            <button class="w-full h-12 my-4">Try 14-day free trial</button>
                            <ul class="mt-4">
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    500 actions
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    5 active workflows
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    1 seat
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    5 authenticated app users
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pricing-card">
            <div class="p-1 border border-stone-200 bg-white rounded-4xl">
                <div class="bg-white border-stone-300 rounded-4xl border !border-dashed px-8 py-4">
                    <div class="flex-col items-center gap-2 mb-2">
                        <div class="flex items-center gap-2">
                            <div class="bg-green-600 w-8 h-8 rounded-xl p-1">
                                <StarFour class="fill-white" />
                            </div>
                            <div>
                                <h2 class="!text-2xl m-0">Team</h2>
                            </div>
                        </div>
                        <div>
                            <p class="mt-12 font-semibold !text-4xl">$200</p>
                            <p class="font-medium !text-stone-600 text-sm">Per month with annual subscription discount; $2400 billed up front. $300 if billed monthly.</p>
                            <button class="w-full h-12 my-4">Select Team plan</button>
                            <ul class="mt-4">
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    10000 actions
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    500 active workflows
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    5 seats
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    25 authenticated app users
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Custom branding
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Synchronous automations
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Script injection
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="pricing-card">
            <div class="p-1 border border-stone-200 bg-white rounded-4xl">
                <div class="bg-white border-stone-300 rounded-4xl border !border-dashed px-8 py-4">
                    <div class="flex-col gap-2 mb-2">
                        <div class="flex items-center gap-2">
                            <div class="bg-blue-600 w-8 h-8 rounded-xl p-1">
                                <Sparkle class="fill-white" />
                            </div>
                            <div>
                                <h2 class="!text-2xl m-0">Enterprise</h2>
                            </div>
                        </div>
                        <!--
                        <div class="flex mt-4 items-center gap-3">
                            <Image src={Arm} alt="Arm logo" class="h-4 w-auto" />
                            <Image src={Amex} alt="Amex logo" class="h-8 w-auto"/>
                        </div>
                        -->
                        <div>
                            <p class="mt-12 font-semibold !text-4xl">Contact us</p>
                            <p class="font-medium !text-stone-600 text-sm">Pricing starts at $10,000, billed annually. Monthly billing not available.</p>
                            <button class="w-full h-12 my-4">Contact sales</button>
                            <ul class="mt-4">
                                <li class="flex items-center gap-2 font-medium">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Higher limits
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Priority support
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    AD / SCIM
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    SSO
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Custom roles
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Environment variables
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Air-gapped deployment
                                </li>
                                <li class="flex items-center gap-2 font-medium mt-1">
                                    <span>
                                        <PlusCircle class="fill-black w-6" />
                                    </span>
                                    Self-host on premise
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
