---
import CaretDown from "phosphor-astro/CaretDown.astro";
import Icon from "@components/Icon.astro";
import Button from "@components/Button.astro";

---
<div class="container max-w-7xl mx-auto py-24 flex flex-col items-center">
        <h2 class="text-3xl! text-stone-950 mb-3">Try Budibase for free</h2>
        <p class="text-stone-500! text-lg! pb-6 text-center max-w-lg">Save weeks building agents, chat, automations, and apps with your models, your tools and data. </p>
        <Button label="Get Budibase free" url="/" variant="cta" size="large" />
</div>
