---
import Layout from "../../../layouts/MainLayout.astro";
import PlatformLayout from "@components/PlatformLayout.astro";
import { getProductPageMeta } from "../_pageMeta";
import AgentDemo from "@components/AgentDemo.astro";

const { title: pageTitle, description: pageDescription } = getProductPageMeta(
  Astro.url.pathname,
);
---

<Layout title={pageTitle} description={pageDescription}>
  <PlatformLayout title={pageTitle} description={pageDescription}>
    <div class="mb-8">
      <div class="mb-4">
        <AgentDemo />
      </div>
    </div>
  </PlatformLayout>
</Layout>
