<section class="border-t border-stone-200 max-w-2xl mx-auto">
  <h2 class="mt-6 mb-2">The open-source toolkit for AI workflows</h2>
  <p>
    Start simple, and add powerful features via additional modules as your
    community grows.
  </p><div class="relative md:mt-16 md:h-48">
    <img
      src="/assets/feature_1.png"
      alt=""
      class="h-48 md:absolute md:-left-40 md:-rotate-3 pr-4 pb-2 md:p-0 mt-16 md:mt-0"
    /><div
      class="md:w-72 md:border-t border-stone-200 md:float-right md:pt-2 pr-2"
    >
      <h3>Workflow orchestration</h3><p>
        Grant the right parties the right permissions and checks and balances by
        managing who can propose, veto, or execute specific functions.
      </p>
    </div>
  </div>
  <div class="relative mt-8 md:h-96">
    <img
      src="/assets/feature_2.png"
      alt=""
      class="md:absolute md:-right-8 md:-rotate-3 pr-4 pb-2 md:p-0 mt-16 md:mt-0"
    /><div
      class="md:w-80 md:mt-80 md:border-t md:float-left md:pt-2 pr-2 md:pr-0"
    >
      <h3>AI chat</h3><p>
        Agora lets your largest token holders easily engage in governance via
        delegation while remaining secure and compliant.
      </p>
    </div>
  </div><div class="relative md:mt-32 md:h-48">
    <img
      src="/assets/feature_3.png"
      alt=""
      class="h-56 md:absolute md:-left-32 md:-rotate-3 pr-4 pb-2 md:p-0 mt-16 md:mt-0"
    /><div class="md:w-72 md:border-t md:float-right md:pt-2 pr-4 md:pr-0">
      <h3>Dynamic forms</h3><p>
        Major protocol upgrades shouldn't run through the same process as
        funding a small grants program. With Agora, they won't.
      </p>
    </div>
  </div><div class="relative mt-16 md:h-48">
    <img
      src="/assets/feature_4.png"
      alt=""
      class="md:h-48 md:absolute md:-right-24 md:-top-8 md:-rotate-3 pr-4 pb-2 md:p-0 mt-16 md:mt-0"
    /><div class="md:w-72 md:border-t md:float-left md:pt-2 pr-2 md:pr-0">
      <h3>
        Agora works out of the box with all tools your community and investors
        love Coingecko, Coinmarketcap, Anchorage, Coinbase Custody, etc.
      </h3><p>
        Agora's governor is designed to play well with both retail investor
        tooling and institutional investor tooling.
      </p>
    </div>
  </div>
</section>
