---
import SectionBlock from "@components/SectionBlock.astro"
import Card from "@components/cards/Card.astro"
---

      <section class="mt-16 lg:mt-24">
        <SectionBlock
          align="center"
          maxWidth="lg"
          titleColorMode="split-secondary-primary"
          titleLines={[
            { text: "Transform your operations" },
            { text: "with Budibase" },
          ]}
          description="Thousands of teams choose Budibase to handle mission-critical workflows."
          contentClass="grid grid-cols-1 gap-4 text-left sm:grid-cols-2 md:gap-2 lg:grid-cols-4"
        >
          <Card
            label="Open-Source"
            description="Deploy on your own infrastructure with complete data sovereignty."
          >
          </Card>
          <Card
            label="ISO 27001"
            description="Enterprise-grade security certifications to meet your compliance requirements."
          >
          </Card>
          <Card
            label="Made in Europe"
            description="Budibase is made in Europe."
          >
          </Card>
          <Card
            label="Pen Tests and Audits"
            description="Annual penetration tests and AWS security configuration audits from 3rd party vendors."
          >
          </Card>
        </SectionBlock>
      </section>